@import url(https://fonts.googleapis.com/css?family=Princess+Sofia);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

#wrapper {
	width: 960px;
	margin: auto;
	background-color: #FFB7CF;
    border: 1px black solid;
}

p {
	text-align: center;
}

header {
	background-color: white;
	text-align: center;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: 'Princess Sofia';
	font-weight: lighter;
	font-size: 50px;
	letter-spacing: 3px;
	margin: 0;
	padding: 0;
}

h2 {
	font-family: 'Open Sans Condensed';
	margin: 0;
	padding: 0;
}

h3 {
	font-family: 'Open Sans Condensed';
	margin: 0.5em;
	font-size: 16px;
	font-weight: 500;
}

div #nav {
	background-color: white;
	text-align: center;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #000;
	padding: 5px;
}

a:hover {
	font-style: italic;
	opacity: 0.5;
}

#section {
	background-color: white;
	overflow: hidden;
}

img {
	display: block;
	padding: 55px;
	margin: 20px;
	opacity: 0.5;
}

img:hover {
	opacity: 1;
}

#column1 {
	float: left;
	background-color: #E582A2;
    border: 1px black solid;
}

#column2 {
	float: right;
	background-color: #E55B88;
    border: 1px black solid;
}

footer {
	font-family: 'Open Sans Condensed';
	text-align: center;
	background-color: white;
	clear: both;
	font-size: 16px;
}

