@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

body {
	text-align: center;
	background-image: url('images/bg.jpg');
	background-size: cover;
	color: 000;
	font-family: 'Playfair Display', serif;
	font-size: 14px;
	font-weight: 70;
	margin: 2em;
}

h1 {
	font-family: 'Open Sans Condensed';
	text-align: center;
	font-size: 64px;
	color: #fff;
	line-height: 0em;
}

h2 {
	font-family: 'Open Sans Condensed';
	text-align: center;
	font-size: 35px;
	color: #fff;
	line-height: 0em;
}

ul {
	text-align: center;
	list-style-type: none;
}

header {
	background-color: #FFED74;
	border: 1px black solid;
    padding: 20px;
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
    padding: 20px;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
    padding: 20px;
}

#slogan {
	font-family: 'PT Sans Narrow', sans-serif;
	font-style: italic;
	font-size: 25px;
	font-weight: 100;
	margin: 0.3em;
}

div.ex {
	width: 200px;
	height: 200px;
	display: inline-block;
	margin: 20px;
	background-color: #FFE2B8;
}

#about {
	width: 675px;
	height: 290px;
	display: inline-block;
	margin: 50px;
	background: #fff;
	opacity: 0.7;
	border: none;
}

#contact, #copy {
	color: #fff;
}